.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 9;
}

.modal-content {
    width: 40%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    z-index: 10;
    transform: translate(-50%, -50%);
}
.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-header span {
    font-size: 32px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}